<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - MyThinkBook</title>
    <meta name="description" content="Project" />
    <meta name="author" content="Ong Zhi Xian" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/skeleton/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton/skeleton.css" />
    <link rel="stylesheet" href="~/css/investment-site.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>

    @RenderBody()

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
