@using MyThinkBook.Web.Domain;
@model PaginatedDataModel<Position>
@{
    ViewData["Title"] = "Positions";
}

<div class="container">

    <div class="row">
        <div class="twelve columns">
            <h1 style="text-align:center;">@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row">

        <div class="ten columns">
            <div class="container">

                <h2>Positions</h2>

                <table class="u-full-width">
                    <thead>
                        <tr>
                            <td colspan="3">
                                @await Html.PartialAsync("_TablePaginationHeader", Model)
                            </td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th class="text-right">Total investment</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var position in Model.Data)
                        {
                            <tr>
                                <td>@position.Instrument.Name</td>
                                <td class="text-right">@position.Amount.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                    @if (Model.TotalPageCount > 1)
                    {
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    @await Html.PartialAsync("_TablePaginationFooter", Model)
                                </td>
                            </tr>
                        </tfoot>
                    }

                </table>

            </div>

        </div>
        <div class="two columns">
            @await Html.PartialAsync("_SideNavBar")
        </div>
    </div>

</div>

@section Scripts {
    @*<script src="~/js/fxTrading.js"></script>*@
}