<nav class="side-nav">
    <div class="title">Links</div>
    <ul>
        <li><a class="nav-link" asp-area="Project" asp-controller="Home" asp-action="Index">Project List</a></li>
        <li><a href="news.asp">News</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">MyThinkBook</a></li>
    </ul>
</nav>