nav.side-nav {
    /*margin-top: 0.67em;*/
}

nav.side-nav > ul li {
    list-style-type: none;
    /*margin: 0;*/
    text-transform:lowercase;
    text-decoration: none;
}

    nav.side-nav > ul {
        margin-top: 0.67em;
    }

    nav.side-nav > div.title {
        /*margin-top: 0.67em;*/
        font-size: 2em;
    }

div.records-page-summary {
    margin-bottom: 1em;
}