@using MyThinkBook.Web.Domain;
@model DataPageModel<Book>
@{
    ViewData["Title"] = "Books";
}

<div class="container">

    <div class="row">
        <div class="twelve columns">

            <table class="u-full-width">
                <thead>
                    <tr>
                        <td colspan="3">
                            @await Html.PartialAsync("_TablePaginationHeader", Model)
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Title
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td>@item.Title</td>
                        </tr>
                    }
                </tbody>
                @if (Model.TotalPageCount > 1)
                {
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                @await Html.PartialAsync("_TablePaginationFooter", Model)
                            </td>
                        </tr>
                    </tfoot>
                }
            </table>

        </div>
    </div>
</div>

