@{
    ViewData["Title"] = "Browser Bookmarks";
}

<div class="two columns"></div>

<div class="eight columns">
    <div class="container">

        <ul>
            <li>
                <a asp-area="Research" asp-controller="Collectible" asp-action="HyperLink">Hyperlinks</a>

                -- 

                <a asp-area="Research" asp-controller="Collectible" asp-action="HyperLinkAnalytics">Hyperlink Analytics</a>
            </li>
        </ul>

        <p class="dev note">
            Ideally we want some kind of summary dashboard here as well.
        </p>

    </div>
</div>
