@using MyThinkBook.Web.Areas.FxTrading.Models;
@model IndexViewModel
@{
    ViewData["Title"] = "Machine Learning";
}

<div class="two columns">
</div>

<div class="eight columns">
    <div class="container">

        <h3>General</h3>

        @*
        <ul class="no-marker">
        <li>Machine learning tasks</li>
        </ul>
        *@

        <dl>

            <dt>Binary classification</dt>
            <dd>A supervised machine learning task that is used to predict which of two classes (categories) an instance of data belongs to.</dd>

            <dt>Multiclass classification</dt>
            <dd>A supervised machine learning task that is used to predict the class (category) of an instance of data.</dd>

            <dt>Regression</dt>
            <dd>A supervised machine learning task that is used to predict the value of the label from a set of related features.</dd>

            <dt>Clustering</dt>
            <dd>An unsupervised machine learning task that is used to group instances of data into clusters that contain similar characteristics.</dd>

            <dt>Anomaly detection</dt>
            <dd>This task creates an anomaly detection model by using Principal Component Analysis (PCA)</dd>

            <dt>Ranking</dt>
            <dd>A ranking task constructs a ranker from a set of labeled examples.</dd>

            <dt>Recommendation</dt>
            <dd>A recommendation task enables producing a list of recommended products or services.</dd>

            <dt>Forecasting</dt>
            <dd>The forecasting task use past time-series data to make predictions about future behavior.</dd>

            <dt>Image Classification</dt>
            <dd>A supervised machine learning task that is used to predict the class (category) of an image.</dd>

            <dt>Object Detection</dt>
            <dd>A supervised machine learning task that is used to predict the class (category) of an image but also gives a bounding box to where that category is within the image.</dd>

        </dl>


        <h3>ML.NET</h3>



        <ul class="no-marker">
            <li>n/a</li>
            @*
            <li><a asp-area="Research" asp-controller="Canvas" asp-action="SimpleSpringy">Springy (simple)</a></li>
            <li><a asp-area="Research" asp-controller="Canvas" asp-action="InteractiveSpringy">Springy (interactive)</a></li>
            *@

        </ul>

        <h3>Infer.NET</h3>

        <ul class="no-marker">
            <li>n/a</li>
        </ul>

        <h3>Deep-Learning</h3>

        <dl>
            <dt>Deep-learning</dt>
            <dd>an umbrella term for machine learning techniques that make use of "deep" neural networks</dd>
        </dl>

        <p>
            Have shown good performance in tasks involving "unstructured data" such as images, audio, and free-form text.
            As a result, deep learning has been used to solve problems like:

            <ul>
                <li>Image classification
                <li>Audio classification
                <li>Translation
                <li>Text generation
                <li>Text classification
            </ul>

        </p>

        <p>
            See: TorchSharp and TensorFlow.NET
        </p>


        <ul class="no-marker">
            <li>n/a</li>
        </ul>

        <h3>Tensorflow.NET</h3>

        <ul class="no-marker">
            <li>n/a</li>
        </ul>

    </div>

</div>

@section Scripts {
    @*<script src="~/js/fxTrading.js"></script>*@
}