@model string
@{
    Layout = "_ResourceLayout";
}

<div class="row">
    <div class="twelve columns">
        <h1 style="text-align:center;">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="ten columns">
        <p>This is generic resource page.</p>

        <p>As such, it has no useful functionality.</p>

        <p>A page specific to this type of resource needs to be create to facilitate management of this resource.</p>
    </div>
    <div class="two columns">
        @await Html.PartialAsync("_SideNavBar")
    </div>
</div>