<ul class="navbar-nav flex-grow-1">
    <!--
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Project" asp-controller="Home" asp-action="Index">Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Wiki" asp-action="Index">Wiki</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="CloudResource" asp-controller="Home" asp-action="Index" title="Cloud resources">Cloud</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LocalResourcesPage" title="Local resources">Local</a>
    </li>
    -->
    <li class="nav-item">
        <a class="nav-link" asp-area="FxTrading" asp-controller="Home" asp-action="Index" title="Fx Trading">Fx-Trading</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Resource" asp-controller="Home" asp-action="Index" title="Resource">Resources</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Research" asp-controller="Home" asp-action="Index" title="Research">Research</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Investment" asp-controller="Home" asp-action="Index" title="Investment">Investment</a>
    </li>
</ul>