@using MyThinkBook.Web.Areas.FxTrading.Models;
@model IndexViewModel
@{
    ViewData["Title"] = "Internet of Things";
}

<div class="two columns">
</div>

<div class="eight columns">
    <div class="container">

        <h3></h3>
        
        <ul class="no-marker">
            <li>Raspberry Pi Model B</li>
            <li>Azure Sphere MT3620</li>
            @*
            <li><a asp-area="Research" asp-controller="Canvas" asp-action="SimpleSpringy">Springy (simple)</a></li>
            <li><a asp-area="Research" asp-controller="Canvas" asp-action="InteractiveSpringy">Springy (interactive)</a></li>
            *@
        </ul>

    </div>

</div>

@section Scripts {
    @*<script src="~/js/fxTrading.js"></script>*@
}